@import '../../assets/styles/varibles.scss';

.container {
  height: $routeWithTarBarHeight;
}

.listBox {
  height: $routeWithTarBarHeight;

  :global {
    .am-list-body {
      background: $routeBgColor;
      border-top: none;
      border-bottom: none;
    }
  }
}

.listLoading {
  text-align: center;
}