.box {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.backHome {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 16px;
  cursor: pointer;
}

.backHomeIcon {
  width: 32px;
  height: 32px;
  background: transparent center / contain no-repeat;
  margin-right: 8px;
}