.box {
  width: 100%;
  background: #ffffff;
  font-size: 14px;
  line-height: 22px;
  padding: 6px 15px;
  border-bottom: 1pX solid #e8e8e8;
  margin: 4px 0;
}

.header {
  color: rgba(0, 0, 0, 0.65);
  transition: all .3s;
  font-weight: 500;
}

.desc {
  color: rgba(0, 0, 0, 0.45);
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-all;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  /* autoprefixer: ignore next */
  -webkit-box-orient: vertical;
}