@import "~@/assets/style/variables.scss";

.wrapper {
  min-height: 100vh;
  flex-direction: column;
}

.tag {
  font-size: 90px;
  color: #000000;
  font-weight: 500;
}

.link {
  margin-top: 328px;
  font-size: 48px;
  font-weight: 400;
  cursor: pointer;
  color: #121314;
  position: relative;
}

.link::after {
  content: "";
  position: absolute;
  z-index: -1;
  top: 60%;
  left: -0.1em;
  right: -0.1em;
  bottom: 0;
  transition: top 200ms cubic-bezier(0, .8, .13, 1);
  background: $primary-color;
}

.link:hover::after {
  top: 0;
}

@media (min-width:768px) {
  .tag {
    font-size: 45px;
  }

  .link {
    margin-top: 164px;
    font-size: 24px;
    font-weight: 400;
    cursor: pointer;
    color: #121314;
    position: relative;
  }
}