* {
  box-sizing: border-box;
}

html {
  font-size: 4.266666666666667vw; /* 100 / 375 * 16 */
}

html, body, #root {
  height: 100%;
}

body, p {
  margin: 0;
  padding: 0;
}

body {
  background-color: #ffffff !important;
  font-size: 28px !important;
}

@media screen and (min-width: 768px) {
  html {
    font-size: 16px !important;
  }
  body {
    font-size: 14px !important;
  }
}

/* 自定义通用类 以 v-styled- 开头 */
.v-styled-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.v-styled-transparent-mask {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 1024;
  pointer-events: none;
}