* {
  box-sizing: border-box;
}

html {
  font-size: 3.7333333333333334vw; // 100 / 375 * 14
}

body {
  font-size: 28px;
}

@media screen and (min-width: 768pX) {
  html {
    font-size: 21.6pX;
  }

  body {
    width: 768pX;
    margin: 0 auto;
  }
}