@import '../../assets/styles/varibles.scss';

.tabBar {
  position: fixed;
  bottom: 0;
  left: 0;
}

@media screen and (min-width: $break-point-768) {
  .tabBar {
    width: $break-point-768;
    left: auto;
  }
}