.wrap {
  min-height: 100vh;
  background: #ffffff;

  :global {
    .am-tabs-tab-bar-wrap {
      position: fixed;
      left: 0;
      top: 0;
      width: 100%;
      z-index: 1;

      .am-tabs-default-bar-top {
        .am-tabs-default-bar-tab {
          padding: 0;
          height: 90px;
          line-height: 90px;
        }
      }
    }

    .am-tabs-content-wrap {
      margin-top: 90px;
    }
  }
}

.list {
  padding: 0;
  :global {
    .am-list-body::before,
    .am-list-body::after {
      height: 0 !important;
    }

    .am-list-footer {
      padding: 0;
    }
  }
}

.listItem + .listItem {
  margin-top: 32px;
}

.listItem {
  display: flex;
  align-items: center;
}

.listItemImgWrap {
  width: 90px;
  height: 90px;

  .listItemImg {
    max-width: 100%;
    max-height: 100%;
  }
}

.listItemContent {
  margin-left: 32px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.listItemContentTitle {
  color: #333333;
  font-size: 32px;
  line-height: 36px;
}

.listItemContentText {
  color: #9b9b9b;
  font-size: 28px;
  line-height: 32px;
  margin-top: 16px;
}

.listLoadingWrap {
  margin-top: 32px;
}
