.box {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.imgWrap {
  max-width: 328px;
  background: transparent center / contain no-repeat;
}

.image {
  width: 100%;
  font-size: 0;
}

.tip {
  font-size: 20px;
  margin: 16px 0 0;
  font-weight: 500;
  color: rgba(0, 0, 0, .45);
}